/*colors*/
/*font size*/
.shopping-cart-container {
  color: #9A9A9A;
}
.shopping-cart-container .shoppingcart-items-indicator {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #9A9A9A;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 20px;
  right: 14px;
}
.shopping-cart-container:hover i {
  color: #ffffff;
}
.shopping-cart-container:hover .shoppingcart-items-indicator {
  background-color: #ffffff;
  color: #1A1A1A;
}
