@model int

<div class="d-flex shopping-cart-container">
    <i class="bi bi-cart-fill"></i>
    @if (Model > 0)
    {
        <div class="shoppingcart-items-indicator">
            @Model
        </div>
    }
</div>