@import '../../../../wwwroot/css/variables';

.shopping-cart-container {
    color: $nav-link;

    .shoppingcart-items-indicator {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $nav-link;
        color: $primary-white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 20px;
        right: 14px;
    }

    &:hover {
        i {
            color: $primary-white;
        }

        .shoppingcart-items-indicator {
            background-color: $primary-white;
            color: $primary-black;
        }
    }
}
