<div class="d-flex flex-column justify-content-center align-items-center fw-bold mt-5">
    <span>Your order has been successfully received.</span>
    <span>Order confirmation has been sent to your e-mail address.</span>
</div>