@{
    ViewData["Title"] = "Order confirmation";
}

<div class="d-flex flex-column justify-content-center align-items-center fw-bold mt-5">
    <span class="text-center">Your order has been successfully received.</span>
    <span class="text-center">Order confirmation has been sent to your e-mail address.</span>
</div>