@model CountryVM

@{
    ViewData["Title"] = "Add country";
}

<div class="mx-5 p-2">
    <div class="row">
        <h2 class="mb-5">Add New Country</h2>
    </div>
    <form method="post">
        <div class="row">
            <div class="col-12 mb-3">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="w-100 rounded-3 p-2 my-2" placeholder="Input name..." />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <button type="submit" class="primary-btn py-2 px-5">Add</button>
        <a asp-action="AllCountries" class="secondary-btn text-decoration-none py-2 px-5">Back</a>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}