@import '../../../../wwwroot/css/variables';

.header-content{
    position: absolute;
    width: 100%;
    height: 300px;
    background-color: rgba(26, 26, 26, .9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $primary-white;
}

#close-filter-btn {
    display: none;
}

@media only screen and (max-width: 991px) {
    .filter-container {
        display: none;
    }

    .mobile-filter-container {
        display: block;
        border: none;
        position: fixed;
        background-color: $primary-white;
        width: 100vw;
        height: 100vh;
        top: 0;
        bottom: 0;
        left: -2000px;
        padding: 30px 40px;
        transition: .3s ease-in-out;
        z-index: 1;

        .price-filter {
            width: 50%;
        }

        .mobile-filter-header {
            span{
                display: block;
                font-size: $big;
                transition: .2s ease-in-out;

                &:hover{
                    transform: scale(1.2);
                }
            }
        }
    }
}

#filter-btn {
    display: none;
    transition: .2s ease-in-out;

    @media only screen and (max-width: 991px) {
        display: inline-block;

        &:hover{
            transform: scale(1.1);
        }
    }
}

input[type="checkbox"] {
    appearance: none;
    background-color: white;
    margin: 0;
    width: 1em;
    height: 1em;
    border: 2px solid $primary-black;
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 1em;
    height: 1em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em $primary-black;
}

input[type="checkbox"]:checked::before {
    transform: scale(.5);
}

.checkbox-item{
    display: flex;
    align-items: center;
    gap: 5px;
}

input[type="number"]{
    background-color: $primary-grey;
}

#filter-area {
    border-right: 1px solid $primary-black;
}

#sortBy{
    border-radius: 5px;
    background-color: $primary-grey;
    border: none;
    padding: 5px;
}

#search-term{
    background-color: $primary-grey;
    border: none;
    padding: 5px;
}