@model IEnumerable<ProductVM>

<div class="products-header">
    <div class="header-content">
        <h2>Everything You Need In One Place</h2>
        <p>Top quality</p>
    </div>
</div>

<div class="row">
    <div class="row-3">
        <h4>Categories</h4>
    </div>
</div>