@import '../../../../wwwroot/css/variables';

.header-content{
    position: absolute;
    width: 100%;
    height: 300px;
    background-color: rgba(26, 26, 26, .9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $primary-white;
}

input[type="checkbox"] {
    appearance: none;
    background-color: white;
    margin: 0;
    width: 1em;
    height: 1em;
    border: 2px solid $primary-black;
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 1em;
    height: 1em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em $primary-black;
}

input[type="checkbox"]:checked::before {
    transform: scale(.5);
}

.checkbox-item{
    display: flex;
    align-items: center;
    gap: 5px;
}

input[type="number"]{
    background-color: $primary-grey;
}

#filter-area {
    border-right: 1px solid $primary-black;
}

.product-item {
    height: 300px;

    .product-item-header {
        width: 100%;
        height: 60%;
    }

    .product-item-body {
        background-color: $primary-grey;
    }
}