/*colors*/
/*font size*/
.image-slider {
  width: 100%;
  height: 60vh;
  background-color: grey;
  margin-bottom: 100px;
}

.carousel-item {
  max-height: 60vh;
}

.bestseller {
  padding: 1.2875rem 1.3625rem;
  width: 30%;
}
@media only screen and (max-width: 991px) {
  .bestseller {
    width: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .bestseller {
    width: 60%;
  }
}
@media only screen and (max-width: 575px) {
  .bestseller {
    width: 90%;
  }
}

@media only screen and (max-width: 991px) {
  .phrase {
    display: none;
  }
}

.grey-linear-gradient {
  border-radius: 1.5rem;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.37) 0%, #BCBCBC 0.01%, rgba(200, 200, 200, 0) 57.08%);
}

.review-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews {
  height: 300px;
  background-color: #1A1A1A;
}

.newsletter-container {
  width: 70%;
  height: 70%;
  background-color: #1A1A1A;
  padding: 30px 0;
}
@media only screen and (max-width: 991px) {
  .newsletter-container {
    width: 95%;
    height: 50%;
  }
}
.newsletter-container p {
  color: #ffffff;
  font-size: 1.4rem;
  text-align: center;
}
@media only screen and (max-width: 575px) {
  .newsletter-container p {
    font-size: 0.9rem;
  }
}
.newsletter-container input[type=email] {
  padding: 5px;
  border-radius: 5px;
  width: 400px;
  border: 0;
}
@media only screen and (max-width: 575px) {
  .newsletter-container input[type=email] {
    width: 200px;
  }
}
@media only screen and (max-width: 280px) {
  .newsletter-container input[type=email] {
    width: 150px;
  }
}
.newsletter-container input[type=email]:focus {
  outline: none;
}
.newsletter-container button {
  background-color: #FFEA2E;
  color: #1A1A1A;
  padding: 3px 30px;
  border: 0;
  transition: 0.2s ease-in-out;
}
.newsletter-container button:hover {
  transform: scale(1.1);
}
