@using Utilities.Constants.Role;
@using Utilities.Constants.Status;
@model OrderVM

<form method="post">
    <input asp-for="Id" hidden />
    <input asp-for="UserId" hidden />
    <input asp-for="TotalPrice" hidden />
    <input asp-for="OrderStatus" hidden />

    <div class="container">
        <div class="row mt-4">
            <div class="col-6">
                <h2>Order details</h2>
            </div>
            <div class="col-6 text-end">
                <a asp-action="AllOrders" class="primary-btn px-5 py-1">Back to orders</a>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h4>Delivery details</h4>
                <div class="d-flex flex-column">
                    <div class="d-flex justify-content-between mb-1">
                        <label asp-for="Name"></label>
                        <div class="d-flex flex-column">
                            <input asp-for="Name" class="ps-2 py-1" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between mb-1">
                        <label asp-for="Phone"></label>
                        <div class="d-flex flex-column">
                            <input asp-for="Phone" class="ps-2 py-1" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between mb-1">
                        <label asp-for="StreetAddress"></label>
                        <div class="d-flex flex-column">
                            <input asp-for="StreetAddress" class="ps-2 py-1" />
                            <span asp-validation-for="StreetAddress" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between mb-1">
                        <label asp-for="City"></label>
                        <div class="d-flex flex-column">
                            <input asp-for="City" class="ps-2 py-1" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between mb-1">
                        <label asp-for="PostalCode"></label>
                        <div class="d-flex flex-column">
                            <input asp-for="PostalCode" class="ps-2 py-1" />
                            <span asp-validation-for="PostalCode" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between mb-1">
                        <label asp-for="Country"></label>
                        <div class="d-flex flex-column">
                            <input asp-for="Country" class="ps-2 py-1" />
                            <span asp-validation-for="Country" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between mb-1">
                        <label asp-for="DateOfOrder"></label>
                        <input asp-for="DateOfOrder" readonly class="ps-2 py-1" />
                    </div>
                    <div class="d-flex justify-content-between mb-1">
                        <label asp-for="Carrier"></label>
                        <input id="carrier" asp-for="Carrier" class="ps-2 py-1" />
                    </div>
                    <div class="d-flex justify-content-between mb-1">
                        <label asp-for="TrackingNumber"></label>
                        <input id="tracking-number" asp-for="TrackingNumber" class="ps-2 py-1" />
                    </div>
                    <div class="d-flex justify-content-between mb-1">
                        <label asp-for="DateOfShipping"></label>
                        <input asp-for="DateOfShipping" readonly class="ps-2 py-1" />
                    </div>
                    <div class="d-flex justify-content-between mb-1">
                        <label asp-for="SessionId"></label>
                        <input asp-for="SessionId" readonly class="ps-2 py-1" />
                    </div>
                    <div class="d-flex justify-content-between mb-1">
                        <label asp-for="PaymentIntentId"></label>
                        <input asp-for="PaymentIntentId" readonly class="ps-2 py-1" />
                    </div>
                    <div class="d-flex justify-content-between mb-1">
                        <label asp-for="PaymentStatus"></label>
                        <input asp-for="PaymentStatus" readonly class="ps-2 py-1" />
                    </div>
                    <div class="d-flex justify-content-between mb-1">
                        <label asp-for="PaymentDate"></label>
                        <input asp-for="PaymentDate" readonly class="ps-2 py-1" />
                    </div>
                    <div class="d-flex justify-content-between mb-1">
                        <label asp-for="CompanyPaymentDeadline"></label>
                        <input asp-for="CompanyPaymentDeadline" readonly class="ps-2 py-1" />
                    </div>
                </div>
                <button type="submit" class="primary-btn w-100 py-1 mt-2">Save Changes</button>
            </div>
            <div class="col-6">
                <h4>Order summary</h4>
                <p class="text-center">Order status - @Model.OrderStatus</p>

                <div class="d-flex flex-column">
                    @foreach (var item in Model.OrderItems)
                    {
                        <div class="d-flex justify-content-between align-items-center px-2 mb-2">
                            <div class="d-flex flex-column">
                                <span class="poppins-font-family">@item.Product.Name</span>
                                <span class="poppins-font-family extra-small-font-size">Price: @item.Product.Price</span>
                                <span class="poppins-font-family extra-small-font-size">Quantity: @item.Quantity</span>
                            </div>
                            <p>€@(item.Product.Price * item.Quantity)</p>
                        </div>
                    }
                    <hr />
                </div>

                <div class="d-flex justify-content-between align-items-center mb-4">
                    <span>Total price</span>
                    <span>€@Model.TotalPrice</span>
                </div>

                <div class="d-flex flex-column">
                    @if(Model.PaymentStatus == PaymentStatuses.PaymentStatusDelayedPayment && Model.OrderStatus == OrderStatuses.StatusShipped)
                    {
                        <button asp-action="CompanyPay" class="primary-btn bg-success ps-2 py-1 mb-1">Pay</button>
                    }
                    
                    @if (User.IsInRole(AppRoles.ADMIN))
                    {
                        if(Model.OrderStatus == OrderStatuses.StatusApproved)
                        {
                            <button asp-action="ChangeStatusToProcessing" class="primary-btn ps-2 py-1 mb-1">Start Processing</button>
                        }

                        if(Model.OrderStatus == OrderStatuses.StatusInProcess)
                        {
                            <button asp-action="ChangeStatusToShipped" onclick="return validateTrackingNumberField()" class="primary-btn ps-2 py-1 mb-1">Ship Order</button>
                        }

                        @if(Model.OrderStatus != OrderStatuses.StatusCancelled && Model.OrderStatus != PaymentStatuses.PaymentStatusRefunded &&
                            Model.OrderStatus != OrderStatuses.StatusShipped)
                        {
                            <button asp-action="CancelOrder" class="primary-btn bg-danger ps-2 py-1 mb-1">Cancel Order</button>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script>
        function validateTrackingNumberField(){
            if ($('#carrier').val() == '') {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please enter carrier'
                })

                return false;
            }

            if ($('#tracking-number').val() == '') {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please enter tracking number'
                })

                return false;
            }

            return true;
        }
    </script>
}