@model IEnumerable<CategoryVM>

@{
    ViewData["Title"] = "All categories";

    var page = (int)ViewData["page"];
    var size = (int)ViewData["size"];
    var pages = (int)ViewData["pages"] - 1;

    ViewData["action"] = "AllCategories";
}

<input id="hiddenData" data-pages="@pages" data-size="@size" data-url="CategoryTableBodyPartial" hidden />

<div class="container p-2">
    <div class="row">
        <div class="col-6 mb-4">
            <h2>All Categories</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-action="CreateCategory" class="primary-btn py-2 px-5"><i class="bi bi-plus-circle"></i> &nbsp; Add</a>
        </div>
    </div>

    @await Component.InvokeAsync("Search")
    <div class="table-responsive">
        <table id="category-table" class="w-100 table content">
            <partial name="_CategoryTableBodyPartial" />
        </table>
    </div>
</div>

@section Scripts{
    <partial name="_NotificationPartial" />
    <script src="~/js/delete-warning.js"></script>
    <script src="~/js/pagination.js" asp-append-version="true"></script>
    <script src="~/js/search.js" asp-append-version="true"></script>
}

