@model CategoryVM

<div class="conatiner p-2">
    <input asp-for="Id" hidden />
    <h2 class="mb-5">Add New Category</h2>
    <form method="post">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="w-100 rounded-3 p-2 my-2" placeholder="Input name..." />
        <span asp-validation-for="Name" class="text-danger"></span>
        <button type="submit">Submit</button>
        <a asp-action="AllCategories" class="btn">Back</a>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}