/*colors*/
$primary-black: #1A1A1A;
$primary-white: #ffffff;
$primary-yellow: #FFEA2E;
$nav-link: #9A9A9A;

/*font size*/
$extra-small: 0.8rem;
$small: 0.9rem;
$normal: 1rem;
$bigger: 1.2rem;
$big: 1.4rem;
$extra-big: 1.7rem;
