@import 'variables';

#login-submit, #registerSubmit {
    border-radius: 20px;
    padding: 0.525rem 0;
}

.registration-question {
    font-family: 'Poppins', sans-serif;
}

.register-link{
    text-decoration: none;
    color: $primary-black;
    font-size: 1.2rem;

    &:hover{
        color: $primary-black;
    }
}

#logout{
    background-color: $primary-black;
    color: $nav-link;
    border: none;

    &:hover{
        color: $primary-white;
    }
}