/*colors*/
.gallery-image {
  width: 70px;
  height: 70px;
}

#thumbnail {
  width: 120px;
  height: 120px;
}

#gallery {
  max-height: 200px;
  overflow: auto;
  border-top: 2px solid #1A1A1A;
  padding-top: 10px;
}
