@import '../css/variables';

.item-image{
    width: 50px;
}

.shopping-cart-item{
    border-right: 2px solid $primary-black;
}

.change-quantity-btn{
    display: block;
    padding: 10px 15px;
    border: 2px solid $primary-grey;
    text-decoration: none;
    color: $primary-black;
    transition: .2s ease-in-out;

    &:hover{
        border: 2px solid $primary-black;
        color: $primary-black;
    }
}

.delete-item {
    i {
        font-size: 1.5rem;
        transition: .2s ease-in-out;

        &:hover {
            font-size: 1.7rem;
        }
    }
}