/*colors*/
/*font size*/
* {
  font-family: "Paytone One", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
html {
  position: relative;
  min-height: 100%;
}

.extra-small-font-size {
  font-size: 0.8rem;
}

@media only screen and (max-width: 575px) {
  .responsive-btn {
    font-size: 0.8rem;
    text-align: center;
  }
}

nav {
  background-color: #1A1A1A;
  color: #9A9A9A;
  height: 5rem;
  padding: 0 4rem;
}
nav .nav-link {
  color: #9A9A9A;
}
nav .nav-link:hover {
  color: #ffffff;
}
nav #logout {
  background-color: #1A1A1A;
  color: #9A9A9A;
}
nav i {
  font-size: 1.5rem;
}
nav .dropdown .dropdown-toggle {
  color: #9A9A9A;
}
nav .dropdown .dropdown-toggle:hover {
  color: #ffffff;
}
nav .mobile-menu, nav .menu-btn {
  display: none;
}
@media screen and (max-width: 767px) {
  nav .menu {
    display: none;
  }
  nav .menu-btn {
    display: block;
    display: flex;
    transform: scale(1.2);
    align-items: center;
    color: #ffffff;
  }
  nav .mobile-menu {
    display: block;
    position: absolute;
    width: 70%;
    right: 50%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 10px;
    top: -50rem;
    background-color: #ffffff;
    transition: 0.3s ease-in-out;
    border-left: 2px solid #1A1A1A;
    border-right: 2px solid #1A1A1A;
    border-bottom: 2px solid #1A1A1A;
    z-index: 1;
  }
  nav .mobile-menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
  }
  nav .mobile-menu ul li a {
    color: #1A1A1A;
  }
  nav .mobile-menu ul li:hover {
    border-bottom: 2px solid #1A1A1A;
  }
  nav .mobile-menu ul li .dropdown .dropdown-toggle {
    color: #1A1A1A;
  }
  nav .mobile-menu #btn-close {
    position: absolute;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    text-align: center;
    bottom: -12px;
  }
}

.footer {
  background-color: #1A1A1A;
  padding: 3rem 4rem;
  color: #ffffff;
}
.footer .logo-phrase .logo-img {
  width: 50%;
}
.footer .logo-phrase .phrase {
  font-size: 1.3rem;
}
.footer .footer-section {
  display: flex;
  flex-direction: column;
}
.footer .footer-section .links {
  display: flex;
  flex-direction: column;
}
.footer .footer-section .links a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  transition: 0.1s ease-in-out;
}
.footer .footer-section .links a:hover {
  font-weight: bold;
}
.footer .footer-section .social-media-links a {
  color: #ffffff;
  transition: 0.2s ease-in-out;
}
.footer .footer-section .social-media-links a:hover {
  transform: scale(1.2);
}

.primary-btn {
  display: inline-block;
  background-color: #1A1A1A;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
.primary-btn:hover {
  transform: scale(1.1);
  color: #ffffff;
}
.primary-btn:active {
  border: none;
}

.btn-danger {
  transition: 0.3s ease-in-out;
}
.btn-danger:hover {
  transform: scale(1.1);
  background-color: #DC3545;
}

.secondary-btn {
  display: inline-block;
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  border: 2px solid #1A1A1A;
  color: #1A1A1A;
  transition: 0.3s ease-in-out;
}
.secondary-btn:hover {
  color: #1A1A1A;
  transform: scale(1.1);
}

.btn-pagination, .btn-pagination-active {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #1A1A1A;
  color: #ffffff;
  transition: 0.3s ease-in-out;
}
.btn-pagination:hover, .btn-pagination-active:hover {
  color: #ffffff;
  transform: scale(1.1);
}

.btn-pagination-active {
  background-color: #ffffff;
  color: #1A1A1A;
  border: 2px solid #1A1A1A;
  transition: 0.3s ease-in-out;
}
.btn-pagination-active:hover {
  color: #1A1A1A;
  transform: scale(1.1);
}

.title::before {
  content: "";
  height: 3px;
  flex: 1;
  background-color: #1A1A1A;
  margin-right: 20px;
}
.title::after {
  content: "";
  height: 3px;
  flex: 1;
  background-color: #1A1A1A;
  margin-left: 20px;
}

.poppins-font-family {
  font-family: "Poppins", sans-serif;
}

/*for home page elements where css isolation not working*/
.slide-img {
  height: 60vh;
  object-fit: cover;
}

.title-image {
  width: 15%;
}
@media only screen and (max-width: 767px) {
  .title-image {
    width: 50%;
  }
}

.newsletter {
  height: 300px;
  background: url("../images/bg-newsletter.jpg");
}
