/*colors*/
/*fonts*/
* {
  font-family: "Paytone One", sans-serif;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

nav {
  background-color: #1A1A1A;
  color: #9A9A9A;
  height: 5rem;
  padding: 0 4rem;
}
nav .nav-link {
  color: #9A9A9A;
}
nav .nav-link:hover {
  color: #ffffff;
}
nav i {
  font-size: 1.5rem;
}
nav .mobile-menu, nav .menu-btn {
  display: none;
}
@media screen and (max-width: 767px) {
  nav .menu {
    display: none;
  }
  nav .menu-btn {
    display: block;
    display: flex;
    transform: scale(1.2);
    align-items: center;
    color: #ffffff;
  }
  nav .mobile-menu {
    display: block;
    position: absolute;
    width: 70%;
    right: 50%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 10px;
    top: -50rem;
    background-color: #ffffff;
    transition: 0.3s ease-in-out;
    border-left: 2px solid #1A1A1A;
    border-right: 2px solid #1A1A1A;
    border-bottom: 2px solid #1A1A1A;
    z-index: 1;
  }
  nav .mobile-menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
  }
  nav .mobile-menu ul li a {
    color: #1A1A1A;
  }
  nav .mobile-menu ul li:hover {
    border-bottom: 2px solid #1A1A1A;
  }
  nav .mobile-menu button {
    bottom: -15px;
  }
}

.footer {
  background-color: #1A1A1A;
  padding: 3rem 4rem;
  color: #ffffff;
}
.footer .logo-phrase .logo-img {
  width: 50%;
}
.footer .logo-phrase .phrase {
  font-size: 1.3rem;
}
.footer .footer-section {
  display: flex;
  flex-direction: column;
}
.footer .footer-section .links {
  display: flex;
  flex-direction: column;
}
.footer .footer-section .links a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  transition: 0.1s ease-in-out;
}
.footer .footer-section .links a:hover {
  font-weight: bold;
}
.footer .footer-section .social-media-links a {
  color: #ffffff;
  transition: 0.2s ease-in-out;
}
.footer .footer-section .social-media-links a:hover {
  transform: scale(1.2);
}

.btn-primary {
  background-color: #1A1A1A;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
.btn-primary:hover {
  transform: scale(1.1);
  background-color: #1A1A1A;
  color: #ffffff;
}
.btn-primary:active {
  border: none;
}

.btn-danger {
  transition: 0.3s ease-in-out;
}
.btn-danger:hover {
  transform: scale(1.1);
  background-color: #DC3545;
}

.btn-secondary {
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  border: 2px solid #1A1A1A;
  color: #1A1A1A;
  transition: 0.3s ease-in-out;
}
.btn-secondary:hover {
  background-color: #ffffff;
  color: #1A1A1A;
  border: 2px solid #1A1A1A;
  transform: scale(1.1);
}
