/*colors*/
$primary-black: #1A1A1A;
$primary-white: #ffffff;
$primary-yellow: #FFEA2E;
$nav-link: #9A9A9A;

/*fonts*/
$navlink-font-size: 1.25rem;

* {
    font-family: 'Paytone One', sans-serif;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html{
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

nav {
    background-color: $primary-black;
    color: $nav-link;
    height: 5rem;
    padding: 0 4rem;

    .nav-link {
        color: $nav-link;

        &:hover {
            color: $primary-white;
        }
    }

    i {
        font-size: 1.5rem;
    }

    .mobile-menu, .menu-btn {
        display: none;
    }

    @media screen and (max-width: 767px) {
        .menu {
            display: none;
        }

        .menu-btn {
            display: block;
            display: flex;
            transform: scale(1.2);
            align-items: center;
            color: $primary-white;
        }

        .mobile-menu {
            display: block;
            position: absolute;
            width: 70%;
            right: 50%;
            left: 50%;
            transform: translate(-50%);
            border-radius: 10px;
            top: -50rem;
            background-color: $primary-white;
            transition: .3s ease-in-out;
            border-left: 2px solid $primary-black;
            border-right: 2px solid $primary-black;
            border-bottom: 2px solid $primary-black;
            z-index: 1;

            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                margin-bottom: 15px;

                li {
                    a {
                        color: $primary-black;
                    }

                    &:hover {
                        border-bottom: 2px solid $primary-black;
                    }
                }
            }

            button {
                bottom: -15px;
            }
        }
    }
}

.footer {
    background-color: $primary-black;
    padding: 3rem 4rem;
    color: $primary-white;

    .logo-phrase {
        .logo-img {
            width: 50%;
        }

        .phrase {
            font-size: 1.3rem;
        }
    }

    .footer-section {
        display: flex;
        flex-direction: column;

        .links {
            display: flex;
            flex-direction: column;

            a {
                text-decoration: none;
                color: $primary-white;
                font-family: 'Poppins', sans-serif;
                transition: .1s ease-in-out;

                &:hover {
                    font-weight: bold;
                }
            }
        }

        .social-media-links {
            a {
                color: $primary-white;
                transition: .2s ease-in-out;

                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
}

.btn-primary {
    background-color: $primary-black;
    color: $primary-white;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    transition: .3s ease-in-out;

    &:hover {
        transform: scale(1.1);
        background-color: $primary-black;
        color: $primary-white;
    }

    &:active {
        border: none;
    }
}

.btn-danger {
    transition: .3s ease-in-out;

    &:hover {
        transform: scale(1.1);
        background-color: #DC3545;
    }
}

.btn-secondary {
    background-color: $primary-white;
    border: none;
    border-radius: 10px;
    border: 2px solid $primary-black;
    color: $primary-black;
    transition: .3s ease-in-out;

    &:hover {
        background-color: $primary-white;
        color: $primary-black;
        border: 2px solid $primary-black;
        transform: scale(1.1);
    }
}
