@import 'variables';

* {
    font-family: 'Paytone One', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html{
    position: relative;
    min-height: 100%;
}

.extra-small-font-size{
    font-size: $extra-small;
}

.responsive-btn {
    @media only screen and (max-width: 575px) {
        font-size: $extra-small;
        text-align: center;
    }
}

nav {
    background-color: $primary-black;
    color: $nav-link;
    height: 5rem;
    padding: 0 4rem;

    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-link {
        color: $nav-link;

        &:hover {
            color: $primary-white;
        }
    }

    #logout {
        background-color: $primary-black;
        color: $nav-link;
    }

    i {
        font-size: 1.5rem;
    }

    .dropdown {
        .dropdown-toggle {
            color: $nav-link;

            &:hover {
                color: $primary-white;
            }
        }
    }

    .mobile-menu, .menu-btn {
        display: none;
    }

    @media screen and (max-width: 767px) {
        .menu {
            display: none;
        }

        .menu-btn {
            display: block;
            display: flex;
            transform: scale(1.2);
            align-items: center;
            color: $primary-white;
        }

        .mobile-menu {
            display: block;
            position: absolute;
            width: 70%;
            right: 50%;
            left: 50%;
            transform: translate(-50%);
            border-radius: 10px;
            top: -50rem;
            background-color: $primary-white;
            transition: .3s ease-in-out;
            border-left: 2px solid $primary-black;
            border-right: 2px solid $primary-black;
            border-bottom: 2px solid $primary-black;
            z-index: 1;

            #logout {
                background-color: $primary-white;
                color: $primary-black;
            }

            #manage-subtitle{
                font-size: 1.2rem;
                border-bottom: 2px solid $primary-black;
            }

            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                margin-bottom: 15px;

                li {
                    a {
                        color: $primary-black;
                    }

                    &:hover {
                        border-bottom: 2px solid $primary-black;
                    }

                    .dropdown {
                        .dropdown-toggle {
                            color: $primary-black;
                        }
                    }
                }
            }

            #btn-close {
                position: absolute;
                border-radius: 50%;
                left: 50%;
                transform: translateX(-50%);
                width: 30px;
                height: 30px;
                text-align: center;
                bottom: -12px;
            }
        }
    }
}

.info-btn{
    position: fixed;
    top: 85%;
    right: 20px;
    font-size: 2.7rem;
    color: $primary-black;
    z-index: 10;
    transition: .2s ease-in-out;
    cursor: pointer;

    &:hover{
        transform: scale(1.2);
    }
}

.app-info {
    position: fixed;
    top: 100px;
    left: -500px;
    background-color: $primary-black;
    color: $primary-white;
    padding: 1rem;
    z-index: 10;
    transition: .3s ease-in-out;
}

    .close-info-btn {
        position: absolute;
        top: 7px;
        right: 20px;
        border: 0;
        background-color: $primary-black;
        color: $primary-white;
        transition: .2s ease-in-out;
        font-size: 1.5rem;

        &:hover {
            transform: scale(1.1);
        }
    }

    .footer {
        background-color: $primary-black;
        padding: 3rem 4rem;
        color: $primary-white;

        .logo-phrase {
            .logo-img {
                width: 50%;
            }

            .phrase {
                font-size: 1.3rem;
            }
        }

        .footer-section {
            display: flex;
            flex-direction: column;

            .links {
                display: flex;
                flex-direction: column;

                a {
                    text-decoration: none;
                    color: $primary-white;
                    font-family: 'Poppins', sans-serif;
                    transition: .1s ease-in-out;

                    &:hover {
                        font-weight: bold;
                    }
                }
            }

            .social-media-links {
                a {
                    color: $primary-white;
                    transition: .2s ease-in-out;

                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }

    .primary-btn {
        display: inline-block;
        background-color: $primary-black;
        color: $primary-white;
        border: none;
        border-radius: 10px;
        text-decoration: none;
        transition: .3s ease-in-out;

        &:hover {
            transform: scale(1.1);
            color: $primary-white;
        }

        &:active {
            border: none;
        }
    }

    .btn-danger {
        transition: .3s ease-in-out;

        &:hover {
            transform: scale(1.1);
            background-color: #DC3545;
        }
    }

    .secondary-btn {
        display: inline-block;
        background-color: $primary-white;
        border: none;
        border-radius: 10px;
        border: 2px solid $primary-black;
        color: $primary-black;
        transition: .3s ease-in-out;

        &:hover {
            color: $primary-black;
            transform: scale(1.1);
        }
    }

    .btn-pagination {
        display: block;
        padding: 10px 20px;
        text-decoration: none;
        background-color: $primary-black;
        color: $primary-white;
        transition: .3s ease-in-out;

        &:hover {
            color: $primary-white;
            transform: scale(1.1);
        }
    }

    .btn-pagination-active {
        @extend .btn-pagination;
        background-color: $primary-white;
        color: $primary-black;
        border: 2px solid $primary-black;
        transition: .3s ease-in-out;

        &:hover {
            color: $primary-black;
            transform: scale(1.1);
        }
    }

    .title {
        &::before {
            content: '';
            height: 3px;
            flex: 1;
            background-color: $primary-black;
            margin-right: 20px;
        }

        &::after {
            content: '';
            height: 3px;
            flex: 1;
            background-color: $primary-black;
            margin-left: 20px;
        }
    }

    .poppins-font-family {
        font-family: 'Poppins', sans-serif;
    }
    /*for home page elements where css isolation not working*/
    .slide-img {
        height: 60vh;
        object-fit: cover;
    }

    .title-image {
        width: 15%;

        @media only screen and (max-width: 767px) {
            width: 50%;
        }
    }

    .newsletter {
        height: 300px;
        background: url('../images/bg-newsletter.jpg');
    }
