@model IEnumerable<ProductVM>

@{
    ViewData["Title"] = "All products";

    var page = (int)ViewData["page"];
    var size = (int)ViewData["size"];
    var pages = (int)ViewData["pages"];

    ViewData["action"] = "AllProducts";
}

<input id="hiddenData" data-size="@size" 
                       data-pages="@pages" 
                       data-url="ProductTableBodyPartial" 
                       data-searchby="productSearchBy" 
                       data-searchTerm="productSearchTerm" hidden />

<div class="container p-2">
    <div class="row mb-4">
        <div class="col-6">
            <h2>All Products</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-action="CreateProduct" class="primary-btn py-2 px-5"><i class="bi bi-plus-circle"></i> &nbsp; Add</a>
        </div>
    </div>

    @if(Model.Count() > 0)
    {
        <div class="d-flex justify-content-between mb-2">
            <div class="d-flex">
                <label for="searchBy" class="me-3 pt-1">Search by:</label>
                <select id="searchBy">
                    <option value="name" selected>Name</option>
                    <option value="category">Category</option>
                </select>
            </div>
            @await Component.InvokeAsync("Search")
        </div>

        <div class="table-responsive">
            <table id="product-table" class="w-100 table content">
                <thead>
                    <tr class="pb-2">
                        <th>Thumbnail</th>
                        <th>Name</th>
                        <th>Quantity in stock</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="table-body-content">
                    <partial name="_ProductTableBodyPartial" />
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6">
                            @await Component.InvokeAsync("Pagination")
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    }
    else
    {
        <h4 class="text-center">There is no items.</h4>
    }
</div>

@section Scripts{
    <partial name="_NotificationPartial" />
    <script src="~/js/delete-warning.js"></script>
    <script src="~/js/pagination.js"></script>

    <script>
        $('#searchBy').on('change', function(){

        })
    </script>
}